{% extends 'base.html' %}
{% block content %}
<div class="outer">
    <div class="btn">
        <a href="add_author" class="add-btn">Add Author</a>
        <a href="export_author_records" class="export-btn">Export</a>
    </div>
    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Bio</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td data-label="Id">{{i.id}}</td>
                    <td data-label="Name">{{i.name}}</td>
                    <td data-label="Email">{{i.email}}</td>
                    <td data-label="Bio">{{i.bio}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination_rounded">
        <ul>
            <li>
                <a href="" class="prev"><i class='bx bx-chevron-left'></i>Prev</a>
            </li>
            <li>
                <a href="author_records?page=1" class="ab">1</a>
            </li>
            <li>
                <a href="author_records?page=2" class="ab">2</a>
            </li>
            <li>
                <a href="author_records?page=3" class="ab">3</a>
            </li>
            <li>
                <a href="author_records?page=4" class="ab">4</a>
            </li>
            <li>
                <a href="author_records?page=5" class="ab">5</a>
            </li>
            <li>
                <a href="" class="next">Right<i class='bx bx-chevron-right'></i></a>
            </li>
        </ul>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for message in messages %}
    swal({
        text: "{{message}}",
        icon: "{{message.tags}}"
    });
{% endfor %}
</script>

{% endblock %}