{% extends 'base.html' %}
{% block content %}
<div class="outer">
    <div class="btn">
        <a href="add_record" class="add-btn">Add Record</a>
        <a href="export_records" class="export-btn">Export</a>
    </div>
    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>Book</th>
                    <th>Borrow Date</th>
                    <th>Return Date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td data-label="Id">{{i.id}}</td>
                    <td data-label="User Name">{{i.user_name}}</td>
                    <td data-label="Book">{{i.book}}</td>
                    <td data-label="Borrow Date">{{i.borrow_date}}</td>
                    <td data-label="Return Date">{{i.return_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination_rounded">
        <ul>
            {% if data.has_previous %}
            <li>
                <a href='?page={{data.previous_page_number}}' class="prev"><i class='bx bx-chevron-left'></i>Prev</a>
            </li>
            {% endif %}

            {% for i in page %}
            <li>
                <a href="?page={{i}}" class="ab">{{i}}</a>
            </li>
            {% endfor %}
            {% if data.has_next %}
            <li>
                <a href="?page={{data.next_page_number}}" class="next">Next<i class='bx bx-chevron-right'></i></a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for message in messages %}
    swal({
        text: "{{message}}",
        icon: "{{message.tags}}"
    });
    {% endfor %}
</script>
{% endblock %}